{% extends 'base.html.twig' %}

{% block title %}Wine{% endblock %}

{% block body %}
<div class="wine-wrapper-id">
    <h1>Wine</h1>

<div class="wine-item">
 <div class="column">
    <div>
    <table class="table">

        <tbody>
            <tr>
                <td>{{ wine.name }}</td>
            </tr>
            <tr>
                <th>Year :</th>
                <td>{{ wine.year }}</td>
            </tr>
            <tr>
                <th>Region : </th>
                <td>{{ wine.region }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ wine.description }}</td>
            </tr>
            <tr>
                <th>Grapes</th>
                    {% for ingredient in wine.grapes %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
            </tr>
            <tr>
                <th>Ingredients</th>
                   {% for ingredient in wine.ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
            </tr>
            <tr>
                <th>AlcoholContent</th>
                <td>{{ wine.alcoholContent }}</td>
            </tr>

        </tbody>
    </table>
    </div>
       <div class="column">
     {% if isowner %}
    <img class="qrcode" src="{{qrCode}}"></img>
    <a href="{{qrCode}}" download="{{wine.name}}">download my QR code</a>
    {% endif %}
    {% if (app.user) and (not isFavorite) and not ("ROLE_IS_PRO" in app.user.roles)%}
        <form method="post" action="{{ path('app_add_wine_favorite', {'id': wine.id}) }}">
            <button type="submit">
                Add to Favorites
            </button>
        </form>
    {% endif %}
        {% if (app.user) and (isFavorite) and not ("ROLE_IS_PRO" in app.user.roles) %}
        <p>Already in Favorites</p>
        <form method="post" action="{{ path('app_remove_wine_favorite', {'id': wine.id}) }}">
            <button type="submit">
                enlever des Favoris
            </button>
        </form>
    {% endif %}
    </div>
    </div>
    <div class="button-list">
    {% if isowner %}
    <a href="{{ path('app_wine_edit', {'id': wine.id}) }}">edit</a>

    {{ include('wine/_delete_form.html.twig') }}
    {% else %}
         <a href="{{ path('app_winery_show', {'id': winery.id}) }}">producer</a>
      {% endif %}
     </div>
      <div class="button-list">
    <a href="{{ path('app_wine_index') }}">see all wines</a>
    {% if isowner %}
    <a href="{{ path('app_wine_owner') }}">see all my wines</a>
    {% endif %}
    </div>
</div>
{% endblock %}