{% extends 'base.html.twig' %}

{% block title %}Wine{% endblock %}

{% block body %}
<div class="wine-wrapper-id">
    <h1>Wine</h1>
    <h2>{{ wine.name }}</h2>

<div class="wine-item">
 <div class="column">
 <div class="row">
    <div class="column-ingredients">
        <div>Year: {{ wine.year }}</div>
        <div>Region: {{ wine.region }}</div>
        <div>Description: {{wine.description }}</div>
        <div>Grapes: {{wine.grapes }}</div>
        <div>Ingredients: {{wine.ingredients }}</div>
        <div>AlcoholContent: {{wine.alcoholContent }}</div>
     </div>
        {% if wine.ImageFileName %}
    <img class="wine-image" src="{{ asset('uploads/wine_image/' ~ wine.ImageFileName) }}"/>
    {% endif %}
    </div>
       <div class="column">
     {% if isowner %}
    <img class="qrcode" src="{{qrCode}}"></img>
    <a href="{{qrCode}}" download="{{wine.name}}">download my QR code</a>
    {% endif %}
    {% if (app.user) and (not isFavorite) and not ("ROLE_IS_PRO" in app.user.roles)%}
        <form method="post" action="{{ path('app_add_wine_favorite', {'id': wine.id}) }}">
            <button type="submit">
                Add to Favorites
            </button>
        </form>
    {% endif %}
    {% if (app.user) and (isFavorite) and not ("ROLE_IS_PRO" in app.user.roles) %}
        <p>Already in Favorites</p>
        <form method="post" action="{{ path('app_remove_wine_favorite', {'id': wine.id}) }}">
            <button type="submit">
                enlever des Favoris
            </button>
        </form>
    {% endif %}
    </div>
    </div>
    <div class="button-list">
    {% if isowner %}
    <a href="{{ path('app_wine_edit', {'id': wine.id}) }}">edit</a>

    {{ include('wine/_delete_form.html.twig') }}
    {% else %}
         <a href="{{ path('app_winery_show', {'id': winery.id}) }}">producer</a>
      {% endif %}
     </div>
      <div class="button-list">
    <a href="{{ path('app_wine_index') }}">see all wines</a>
    {% if isowner %}
    <a href="{{ path('app_wine_owner') }}">see all my wines</a>
    {% endif %}
    </div>
</div>
{% endblock %}